*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    background-image: linear-gradient(
      115deg,
      rgba(158, 58, 18, 0.8),
      rgba(36, 16, 196, 0.7)
    ),
    url(https://i.ytimg.com/vi/syFZfO_wfMQ/maxresdefault.jpg);
    color:white;
    font-size:17px;
    background-repeat: no-repeat;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content: center;

}
#comments{
    height:50px;
    resize:vertical;
}
ul{
    list-style: none;
}

