*{
    margin:0;
    padding:0;
}
body {
    background-image:url(/ResponsiveWebDesign/BACK.jpg);
}
#title{
    margin-left:auto;
    margin-right:auto;
    font-size: 49px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-align:center;
}
#description{
    margin-left:auto;
    margin-right:auto;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-align:center;

}
.groups{
    text-align:center;
    margin:auto;
    font-size:22px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   