@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Advent Pro', serif;
    font-weight: 400;
    background: rgb(7, 7, 7);
    margin: 0;
    padding: 0;
    color:aliceblue;
}

main {
    background: rgb(0, 0, 0);
    margin: 1rem;
    padding: 2rem;
}
#img-div{
    background-color: black;
}
#main{
    background-color: rgb(221, 42, 42);
    border-radius: 75%;
    border: 11px;
    margin:0 20%;
}
img {
    display: block;
    width: 50%;
    margin: 0 auto;
    border:0;
    filter: brightness(45%);
}
.year{
    font-weight: 600;
}

figure {
    font-size: 1.5rem;
    background:#FFF;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

figcaption {
    margin: 1rem 0 1rem 0;
}

h1, h2, h3 {
    font-family: Amita, sans-serif;
    text-align: center;
    font-weight: 500;
}

h1 {
    font-size: 5rem;
    line-height: 6rem;
    margin: 0 0 0.5rem 0;
}

h2 {
    margin: 0 0 2rem 0;
    font-size: 3rem;
    line-height: 3.6rem;
}

h3 {
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
    line-height: 3rem;
}

ul {
    margin: 0;
    padding: 0 1rem 0 2rem;
}


#tribute-info, #tribute {
    max-width: 770px;
    margin: 0 auto;
}

#image{
    max-width:100%;
    height:auto;
    margin:auto;
}
a{
    color: inherit;
}